* {
margin:0 ;
padding:0 ;
box-sizing: border-box;

}

body { 
    
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif

}

#info{
    background-color: black;
    color: white;
    width: 9000px;
}

#photo-cv{

width: 40vw - vh - vmax - vmin:  ;

}

